// footer
footer{
    .bottom{
        height: 100px;
        background-color: gray;
        font-size: 20px;
        text-align: center;
        line-height: 100px;

        margin-top: 30px;
    }
}

//回到最上層
#gototop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    text-decoration: none;
    div{
    height: 100px;
    width: 100px;
    background-color: gray;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-size: 30px;

    transition: 0.5s;
    }
    div:hover{
    background-color: black;
    border-radius: 0;
    }
}