// 全域 border box
*,*:before,*::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
// 標題列
header{
    nav{
        width: 100%;
        height: 100px;
        background-color: black;

       display: flex;
       justify-content: space-between;
       align-items: center;

       position: fixed;
        top: 0px;
        left: 0px;
        z-index: 99;
       .btn-group{
           padding: 0;
           margin: 0;
           list-style: none;
           height: 40px;
           width: 25%;
           a{
               width: 100px;
               height: 40px;
               color: white;
               font-size: 30px;
               text-align: center;
               line-height: 40px;
               text-decoration: none;

               margin-right: 30px;
               
               display: block;
               float: right;
           }
           a:hover{
            color: blue;
           }
       }
    }
}