// section-1  
#section-1{
    background-image: url('../images/素材1.jpg');
    height: calc(100vh - 100px);

  .mask .text-box{
    width: 300px;
    height: 100px;
    background-color:slategrey;
    font-size: 32px;
    color: white;
    font-weight: 900;
    text-align: center;
    line-height: 100px;
    letter-spacing: 20px;
    
    position: absolute;
    left: calc(50% - 150px);
    top: calc(50% - 50px);

    span{
    margin: 0 -20px 0 0;
    } 
  }
}

// section2
#section-2{
    width: 100%;
    margin: 50px 0;
    padding: 0 15px;
    // border: 1px solid black;

    position: relative;
    .top{
        font-size: 32px;
        text-align: center;
    }
    .bottm{
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        padding-top: 50px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            width: 100px;
            height: 50px;
            background-color:slategrey;
            border-radius: 10%;
            color: white;
            text-decoration: none;
            list-style: none;

            display: block;
            margin: 0 auto;

        }
        a:hover{
            background-color: black;
        }
    }
}

// section3
#section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    .section-3-l{
        padding-right: 10px;
    }
    .section-3-r{
        padding-left: 10px;
    }
}







