.full-page{
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.bg-setting{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.mask{
    width: 100%;
    height: 100%;
    background-color:rgba(255,255,255,0.3);
    position: relative;

    /* 0~1 1=100% 0=0% 0.5=50% */
}

.fake{
    position: absolute;
    top: -100px;
    left: 0px;
    visibility: hidden;
      
}